## Enum Description
## Usage:
## const {{upperCamelCaseName}} = preload("res://your/path/{{dashCaseName}}.enum.gd").{{upperCamelCaseName}}
## or make global via autoload
enum {{upperCamelCaseName}} {
	Option1
}
